.league-logo {
    height: 25px;
}
.list-item-child {
    flex-basis: 0;
    flex-grow: 1;
}
.home-team-name {
    text-align: right;
}
.crest {
    width: 25px;
}
.league-name {
    background-color: #F8F9F9;
}