<h1>Sport Today</h1>
<h2 class="mt-4">Football</h2>
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="premier-league h-100">
            <nb-card-header>English Premier League</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/vwpvry1467462651.png/preview">
                            <span>Man City</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block">0 - 0</span>
                        <span class="d-block text-muted">86'</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/xzqdr11517660252.png/preview">
                            <span>Man United</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="premier-league h-100">
            <nb-card-header>English Premier League</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/qwvuqy1448811552.png/preview">
                            <span>Wolves</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block">0 - 1</span>
                        <span class="d-block text-muted">HT</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/a1af2i1557005128.png/preview">
                            <span>Arsenal</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="efl-cup h-100">
            <nb-card-header>EFL Cup</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/uvxuqq1448813372.png/preview">
                            <span>Liverpool</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block text-muted">18:30</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/jioo4z1557155744.png/preview">
                            <span>Derby</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>


<h2 class="mt-4">Rugby</h2>
<div class="row">
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="super-rugby h-100">
            <nb-card-header>Super Rugby</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/s3p2ms1554411855.png/preview">
                            <span>Stormers</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block">21 - 14</span>
                        <span class="d-block text-muted">72'</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/ut9cpz1555142819.png/preview">
                            <span>Chiefs</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="super-rugby h-100">
            <nb-card-header>Super Rugby</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/fzn7s31555153115.png/preview">
                            <span>Bulls</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block">0 - 7</span>
                        <span class="d-block text-muted">11'</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/2cfy961554413817.png/preview">
                            <span>Lions</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
    <div class="col-12 col-md-4 mb-3">
        <nb-card class="top-14 h-100">
            <nb-card-header>French Top 14</nb-card-header>
            <nb-card-body class="d-flex align-items-center">
                <div class="row">
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/xbsi1g1536392475.png/preview">
                            <span>Montpellier</span>
                        </div>
                    </div>
                    <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                        <span class="score d-block">21 - 6</span>
                        <span class="d-block text-muted">FT</span>
                    </div>
                    <div class="col-3">
                        <div style="text-align: center;">
                            <img class="mb-1" width="100%"
                                src="https://www.thesportsdb.com/images/media/team/badge/a4yd1y1536393155.png/preview">
                            <span>Stade Rochelais</span>
                        </div>
                    </div>
                </div>
            </nb-card-body>
        </nb-card>
    </div>
</div>