// TODO: Might have to add this to back-end or come up with nice solution
.premier-league {
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #304;
}

.efl-cup {
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #096;
}

.super-rugby {
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #0dd;
}

.top-14 {
    border-top-style: solid;
    border-top-width: .25rem;
    border-top-color: #b96;
}

.score {
    font-size: 2.5em;
}