<nb-card class="football-match-card h-100" [style.border-top-color]="getCardColour()">
    <nb-card-header>{{ match.league.name }}</nb-card-header>
    <nb-card-body class="d-flex align-items-center">
        <div class="row">
            <div class="col-3">
                <div style="text-align: center;">
                    <img class="mb-1" width="100%" [src]="match.homeTeam.crest">
                    <span>{{ match.homeTeam.name }}</span>
                </div>
            </div>
            <div class="col-6 d-flex flex-column justify-content-center" style="text-align: center;">
                <span *ngIf="!match.time" class="score d-block text-muted">{{ match.matchDate.time }}</span>
                <span *ngIf="match.time" class="score d-block">
                    {{ match.homeTeamGoals }} - {{ match.awayTeamGoals }}
                </span>
                <span *ngIf="match.time" class="d-block text-muted">{{ match.time }}</span>
            </div>
            <div class="col-3">
                <div style="text-align: center;">
                    <img class="mb-1" width="100%" [src]="match.awayTeam.crest">
                    <span>{{ match.awayTeam.name }}</span>
                </div>
            </div>
        </div>
    </nb-card-body>
</nb-card>